/*//////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////// Landing Page's Base Styles //////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////*/

body {
    position: relative;
    padding-top: 55px;
    color: white;
    background-color: #212529;
}

.navbar {
    background-color: #212529;
}

.nav-pills > li > a.active {
    background-color: #ffffff !important;
    color: #000000 !important;
    text-shadow: #212529;
}
  
.nav-pills > li > a:hover {
    background-color: #ffffff !important;
    color: #000000 !important;
    font-weight: bold;
}
  
.nav-link-color {
    color: #ffffff;
}

.navbar-brand {
    margin-left: 15px;
}

.btn-dark {
    margin: 0 15px 0 15px;
}

.stickyContainer {
    position: sticky;
    top: 55px;
}

.secondSegment, 
.thirdSegment {
    padding-top: 10rem;
}

h5 i{
    color: slategrey;
}

.thirdSegment {
    padding-bottom: 8rem;
}

.projectSummaries h3 {
    margin: 4rem auto 1rem 3rem;
}

.projectSummaries .Catena {
    margin-top: 0px;
}

.projectSummaries li {
    list-style-type: none;
}

img {
    width: 25%;
    height: auto;
}

.professionalPhoto {
    width: 100%;
    height: auto;
}

.projectPhotos img{
    width: 30%;
    height: auto;
}

.thirdSegment {
    text-align: center;
}

.socialMedia img {
    width: 75px;
    height: auto;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////////// Conditional Styes ///////////////////////////////////////*/
/*//////////////////////////////////////////////////////////////////////////////////////////////*/

/************************************************************************************************/
/*Large Screens / Laptops, Monitors, 4K+ */
/************************************************************************************************/

@media(min-width: 1482px){

}


/************************************************************************************************/
/*Medium Screens / Tablets*/
/************************************************************************************************/

@media (max-width: 1482px) {

}

@media (max-width: 979px) {

}


/************************************************************************************************/
/*Small Screens / Handheld Screens*/
/************************************************************************************************/

@media(max-width: 720px){
    
}